anyio==3.3.4
beautifulsoup4==4.10.0
certifi==2021.10.8
fastapi==0.70.0
idna==3.3
pydantic==1.8.2
sniffio==1.2.0
soupsieve==2.3.1
starlette==0.16.0
typing-extensions==3.10.0.2
wincertstore==0.2
uvicorn==0.12.3
aiofiles==0.6.0
python-multipart==0.0.5
jinja2==2.11.2
